@font-face {
    font-family: 'MS_Reference';
    src: url('../fonts/MS_Reference.eot');
    src: url('../fonts/MS_Reference.eot') format('embedded-opentype'),
    url('../fonts/MS_Reference.woff2') format('woff2'),
    url('../fonts/MS_Reference.woff') format('woff'),
    url('../fonts/MS_Reference.ttf') format('truetype'),
    url('../fonts/MS_Reference.svg#MS_Reference') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PT-sans_regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PT-sans_bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/Roboto-slab-regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/Roboto-slab-bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya Sans SC";
    src: url(../fonts/Alegreyasansscmedium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya Sans SC";
    src: url(../fonts/Alegreyasansscbold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "PT-sans_b-b";
    src: url('../fonts/pt-sans_b.eot');
    src: url('../fonts/pt-sans_b.eot') format('embedded-opentype'),
    url('../fonts/pt-sans_b.woff') format('woff'),
    url('../fonts/pt-sans_b.ttf') format('truetype'),
    url('../fonts/pt-sans_b.svg#MS_Reference') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2anbo5');
    src:  url('../fonts/icomoon.eot?2anbo5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2anbo5') format('truetype'),
    url('../fonts/icomoon.woff?2anbo5') format('woff'),
    url('../fonts/icomoon.svg?2anbo5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-pause-circle:before {
    content: "\f28b";
}
.icon-play-circle:before {
    content: "\f144";
}