// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-about-link-name: 's-about_link';
$s-about-link-x: 191px;
$s-about-link-y: 119px;
$s-about-link-offset-x: -191px;
$s-about-link-offset-y: -119px;
$s-about-link-width: 12px;
$s-about-link-height: 21px;
$s-about-link-total-width: 210px;
$s-about-link-total-height: 177px;
$s-about-link-image: 'sprite.png';
$s-about-link: (191px, 119px, -191px, -119px, 12px, 21px, 210px, 177px, 'sprite.png', 's-about_link', );
$s-address-2-name: 's-address-2';
$s-address-2-x: 115px;
$s-address-2-y: 68px;
$s-address-2-offset-x: -115px;
$s-address-2-offset-y: -68px;
$s-address-2-width: 10px;
$s-address-2-height: 17px;
$s-address-2-total-width: 210px;
$s-address-2-total-height: 177px;
$s-address-2-image: 'sprite.png';
$s-address-2: (115px, 68px, -115px, -68px, 10px, 17px, 210px, 177px, 'sprite.png', 's-address-2', );
$s-address-name: 's-address';
$s-address-x: 191px;
$s-address-y: 70px;
$s-address-offset-x: -191px;
$s-address-offset-y: -70px;
$s-address-width: 16px;
$s-address-height: 24px;
$s-address-total-width: 210px;
$s-address-total-height: 177px;
$s-address-image: 'sprite.png';
$s-address: (191px, 70px, -191px, -70px, 16px, 24px, 210px, 177px, 'sprite.png', 's-address', );
$s-btn-1-name: 's-btn_1';
$s-btn-1-x: 0px;
$s-btn-1-y: 56px;
$s-btn-1-offset-x: 0px;
$s-btn-1-offset-y: -56px;
$s-btn-1-width: 67px;
$s-btn-1-height: 37px;
$s-btn-1-total-width: 210px;
$s-btn-1-total-height: 177px;
$s-btn-1-image: 'sprite.png';
$s-btn-1: (0px, 56px, 0px, -56px, 67px, 37px, 210px, 177px, 'sprite.png', 's-btn_1', );
$s-btn-2-name: 's-btn_2';
$s-btn-2-x: 47px;
$s-btn-2-y: 94px;
$s-btn-2-offset-x: -47px;
$s-btn-2-offset-y: -94px;
$s-btn-2-width: 38px;
$s-btn-2-height: 27px;
$s-btn-2-total-width: 210px;
$s-btn-2-total-height: 177px;
$s-btn-2-image: 'sprite.png';
$s-btn-2: (47px, 94px, -47px, -94px, 38px, 27px, 210px, 177px, 'sprite.png', 's-btn_2', );
$s-contact-1-name: 's-contact_1';
$s-contact-1-x: 178px;
$s-contact-1-y: 68px;
$s-contact-1-offset-x: -178px;
$s-contact-1-offset-y: -68px;
$s-contact-1-width: 11px;
$s-contact-1-height: 17px;
$s-contact-1-total-width: 210px;
$s-contact-1-total-height: 177px;
$s-contact-1-image: 'sprite.png';
$s-contact-1: (178px, 68px, -178px, -68px, 11px, 17px, 210px, 177px, 'sprite.png', 's-contact_1', );
$s-contact-2-name: 's-contact_2';
$s-contact-2-x: 191px;
$s-contact-2-y: 157px;
$s-contact-2-offset-x: -191px;
$s-contact-2-offset-y: -157px;
$s-contact-2-width: 14px;
$s-contact-2-height: 15px;
$s-contact-2-total-width: 210px;
$s-contact-2-total-height: 177px;
$s-contact-2-image: 'sprite.png';
$s-contact-2: (191px, 157px, -191px, -157px, 14px, 15px, 210px, 177px, 'sprite.png', 's-contact_2', );
$s-contact-3-name: 's-contact_3';
$s-contact-3-x: 191px;
$s-contact-3-y: 141px;
$s-contact-3-offset-x: -191px;
$s-contact-3-offset-y: -141px;
$s-contact-3-width: 15px;
$s-contact-3-height: 15px;
$s-contact-3-total-width: 210px;
$s-contact-3-total-height: 177px;
$s-contact-3-image: 'sprite.png';
$s-contact-3: (191px, 141px, -191px, -141px, 15px, 15px, 210px, 177px, 'sprite.png', 's-contact_3', );
$s-info-2-name: 's-info-2';
$s-info-2-x: 68px;
$s-info-2-y: 56px;
$s-info-2-offset-x: -68px;
$s-info-2-offset-y: -56px;
$s-info-2-width: 38px;
$s-info-2-height: 37px;
$s-info-2-total-width: 210px;
$s-info-2-total-height: 177px;
$s-info-2-image: 'sprite.png';
$s-info-2: (68px, 56px, -68px, -56px, 38px, 37px, 210px, 177px, 'sprite.png', 's-info-2', );
$s-info-3-name: 's-info-3';
$s-info-3-x: 0px;
$s-info-3-y: 135px;
$s-info-3-offset-x: 0px;
$s-info-3-offset-y: -135px;
$s-info-3-width: 43px;
$s-info-3-height: 42px;
$s-info-3-total-width: 210px;
$s-info-3-total-height: 177px;
$s-info-3-image: 'sprite.png';
$s-info-3: (0px, 135px, 0px, -135px, 43px, 42px, 210px, 177px, 'sprite.png', 's-info-3', );
$s-info-name: 's-info';
$s-info-x: 58px;
$s-info-y: 0px;
$s-info-offset-x: -58px;
$s-info-offset-y: 0px;
$s-info-width: 56px;
$s-info-height: 55px;
$s-info-total-width: 210px;
$s-info-total-height: 177px;
$s-info-image: 'sprite.png';
$s-info: (58px, 0px, -58px, 0px, 56px, 55px, 210px, 177px, 'sprite.png', 's-info', );
$s-list-bread-name: 's-list_bread';
$s-list-bread-x: 86px;
$s-list-bread-y: 100px;
$s-list-bread-offset-x: -86px;
$s-list-bread-offset-y: -100px;
$s-list-bread-width: 8px;
$s-list-bread-height: 14px;
$s-list-bread-total-width: 210px;
$s-list-bread-total-height: 177px;
$s-list-bread-image: 'sprite.png';
$s-list-bread: (86px, 100px, -86px, -100px, 8px, 14px, 210px, 177px, 'sprite.png', 's-list_bread', );
$s-list-course-2-name: 's-list_course-2';
$s-list-course-2-x: 44px;
$s-list-course-2-y: 135px;
$s-list-course-2-offset-x: -44px;
$s-list-course-2-offset-y: -135px;
$s-list-course-2-width: 32px;
$s-list-course-2-height: 28px;
$s-list-course-2-total-width: 210px;
$s-list-course-2-total-height: 177px;
$s-list-course-2-image: 'sprite.png';
$s-list-course-2: (44px, 135px, -44px, -135px, 32px, 28px, 210px, 177px, 'sprite.png', 's-list_course-2', );
$s-list-course-name: 's-list_course';
$s-list-course-x: 0px;
$s-list-course-y: 94px;
$s-list-course-offset-x: 0px;
$s-list-course-offset-y: -94px;
$s-list-course-width: 46px;
$s-list-course-height: 40px;
$s-list-course-total-width: 210px;
$s-list-course-total-height: 177px;
$s-list-course-image: 'sprite.png';
$s-list-course: (0px, 94px, 0px, -94px, 46px, 40px, 210px, 177px, 'sprite.png', 's-list_course', );
$s-phone-name: 's-phone';
$s-phone-x: 153px;
$s-phone-y: 68px;
$s-phone-offset-x: -153px;
$s-phone-offset-y: -68px;
$s-phone-width: 24px;
$s-phone-height: 24px;
$s-phone-total-width: 210px;
$s-phone-total-height: 177px;
$s-phone-image: 'sprite.png';
$s-phone: (153px, 68px, -153px, -68px, 24px, 24px, 210px, 177px, 'sprite.png', 's-phone', );
$s-separ-name: 's-separ';
$s-separ-x: 86px;
$s-separ-y: 94px;
$s-separ-offset-x: -86px;
$s-separ-offset-y: -94px;
$s-separ-width: 39px;
$s-separ-height: 5px;
$s-separ-total-width: 210px;
$s-separ-total-height: 177px;
$s-separ-image: 'sprite.png';
$s-separ: (86px, 94px, -86px, -94px, 39px, 5px, 210px, 177px, 'sprite.png', 's-separ', );
$s-slider-l-2-name: 's-slider_l-2';
$s-slider-l-2-x: 191px;
$s-slider-l-2-y: 35px;
$s-slider-l-2-offset-x: -191px;
$s-slider-l-2-offset-y: -35px;
$s-slider-l-2-width: 19px;
$s-slider-l-2-height: 34px;
$s-slider-l-2-total-width: 210px;
$s-slider-l-2-total-height: 177px;
$s-slider-l-2-image: 'sprite.png';
$s-slider-l-2: (191px, 35px, -191px, -35px, 19px, 34px, 210px, 177px, 'sprite.png', 's-slider_l-2', );
$s-slider-l-name: 's-slider_l';
$s-slider-l-x: 153px;
$s-slider-l-y: 0px;
$s-slider-l-offset-x: -153px;
$s-slider-l-offset-y: 0px;
$s-slider-l-width: 37px;
$s-slider-l-height: 67px;
$s-slider-l-total-width: 210px;
$s-slider-l-total-height: 177px;
$s-slider-l-image: 'sprite.png';
$s-slider-l: (153px, 0px, -153px, 0px, 37px, 67px, 210px, 177px, 'sprite.png', 's-slider_l', );
$s-slider-r-2-name: 's-slider_r-2';
$s-slider-r-2-x: 191px;
$s-slider-r-2-y: 0px;
$s-slider-r-2-offset-x: -191px;
$s-slider-r-2-offset-y: 0px;
$s-slider-r-2-width: 19px;
$s-slider-r-2-height: 34px;
$s-slider-r-2-total-width: 210px;
$s-slider-r-2-total-height: 177px;
$s-slider-r-2-image: 'sprite.png';
$s-slider-r-2: (191px, 0px, -191px, 0px, 19px, 34px, 210px, 177px, 'sprite.png', 's-slider_r-2', );
$s-slider-r-name: 's-slider_r';
$s-slider-r-x: 115px;
$s-slider-r-y: 0px;
$s-slider-r-offset-x: -115px;
$s-slider-r-offset-y: 0px;
$s-slider-r-width: 37px;
$s-slider-r-height: 67px;
$s-slider-r-total-width: 210px;
$s-slider-r-total-height: 177px;
$s-slider-r-image: 'sprite.png';
$s-slider-r: (115px, 0px, -115px, 0px, 37px, 67px, 210px, 177px, 'sprite.png', 's-slider_r', );
$s-slogan-name: 's-slogan';
$s-slogan-x: 0px;
$s-slogan-y: 0px;
$s-slogan-offset-x: 0px;
$s-slogan-offset-y: 0px;
$s-slogan-width: 57px;
$s-slogan-height: 55px;
$s-slogan-total-width: 210px;
$s-slogan-total-height: 177px;
$s-slogan-image: 'sprite.png';
$s-slogan: (0px, 0px, 0px, 0px, 57px, 55px, 210px, 177px, 'sprite.png', 's-slogan', );
$s-station-2-name: 's-station-2';
$s-station-2-x: 137px;
$s-station-2-y: 68px;
$s-station-2-offset-x: -137px;
$s-station-2-offset-y: -68px;
$s-station-2-width: 11px;
$s-station-2-height: 15px;
$s-station-2-total-width: 210px;
$s-station-2-total-height: 177px;
$s-station-2-image: 'sprite.png';
$s-station-2: (137px, 68px, -137px, -68px, 11px, 15px, 210px, 177px, 'sprite.png', 's-station-2', );
$s-station-name: 's-station';
$s-station-x: 191px;
$s-station-y: 95px;
$s-station-offset-x: -191px;
$s-station-offset-y: -95px;
$s-station-width: 16px;
$s-station-height: 23px;
$s-station-total-width: 210px;
$s-station-total-height: 177px;
$s-station-image: 'sprite.png';
$s-station: (191px, 95px, -191px, -95px, 16px, 23px, 210px, 177px, 'sprite.png', 's-station', );
$s-sub-menu-name: 's-sub-menu';
$s-sub-menu-x: 126px;
$s-sub-menu-y: 68px;
$s-sub-menu-offset-x: -126px;
$s-sub-menu-offset-y: -68px;
$s-sub-menu-width: 10px;
$s-sub-menu-height: 17px;
$s-sub-menu-total-width: 210px;
$s-sub-menu-total-height: 177px;
$s-sub-menu-image: 'sprite.png';
$s-sub-menu: (126px, 68px, -126px, -68px, 10px, 17px, 210px, 177px, 'sprite.png', 's-sub-menu', );
$s-title-name: 's-title';
$s-title-x: 126px;
$s-title-y: 94px;
$s-title-offset-x: -126px;
$s-title-offset-y: -94px;
$s-title-width: 39px;
$s-title-height: 5px;
$s-title-total-width: 210px;
$s-title-total-height: 177px;
$s-title-image: 'sprite.png';
$s-title: (126px, 94px, -126px, -94px, 39px, 5px, 210px, 177px, 'sprite.png', 's-title', );
$spritesheet-width: 210px;
$spritesheet-height: 177px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-about-link, $s-address-2, $s-address, $s-btn-1, $s-btn-2, $s-contact-1, $s-contact-2, $s-contact-3, $s-info-2, $s-info-3, $s-info, $s-list-bread, $s-list-course-2, $s-list-course, $s-phone, $s-separ, $s-slider-l-2, $s-slider-l, $s-slider-r-2, $s-slider-r, $s-slogan, $s-station-2, $s-station, $s-sub-menu, $s-title, );
$spritesheet: (210px, 177px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
